<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PodFlix</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main>
        <div class="home-logo">
            <h2>PodFlix</h2>
            <p>Seu assistente de recomendação de podcasts</p>
        </div>

        <div class="home-options">
            <div class="homeoption">
                <a href="{% url 'search_by_topic' %}">Pesquisar por Assunto</a>
            </div>
            <div class="homeoption">
                <a href="{% url 'recommendation' %}">Recomendação</a>
            </div>
        </div>
    </main>

    <footer>
        <!-- Se desejar, adicione informações adicionais no rodapé -->
    </footer>
</body>
</html>