<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PodFlix</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gotham:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'index' %}">PodFlix</a>
        </div>
        <nav>
            <a href="{% url 'search_by_topic' %}">Pesquise por assunto</a>
            <a href="recommendation.html">Recomendação</a>
        </nav>
    </header>

    <main>
        <div class="recommendation-container">
            <div class="recommendation-content">
                <form action="{% url 'search_by_topic' %}" method="GET">
                    {{ form }}
                    <input type="submit" value="Pesquisar">
                </form>
            </div>
        </div>
    </main>

    <footer>
        <!-- Rodapé, se desejar -->
    </footer>
</body>
</html>
